/* CSS variables */
:root {
    --main-font: "Poppins";
    --primary-color: #FFFFFF;
    --secondary-color: #F66666;
    --header-color: #000000;
    --text-color: #757575;
}
/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--main-font);
}
button, input, img {
    border: none;
    outline: none;
}
/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: var(--primary-color);
}
nav h1 {
    color: var(--header-color);
    margin-left: 120px;
    font-weight: 400;
    font-size: 30px;
}
nav h1 span {
    color: var(--secondary-color);
    font-weight: 800;
}
nav .buttons {
    margin-right: 120px;
}
/* General styling for both nav buttons */
nav .buttons button {
    cursor: pointer;
    font-family: var(--main-font);
    padding: 7px 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.6s ease;
}
/* Register button */
nav .buttons button:first-child {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-right: 5px;
}
nav .buttons button:first-child:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
/* Login button */
nav .buttons button:last-child {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
nav .buttons button:last-child:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
/* Splash div */
.splash {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 120px;
}
.splash h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--primary-color);
}
.splash input {
    border-radius: 12px;
    width: 365px;
    padding: 15px 20px;
    margin-top: 30px;
    font-family: var(--main-font);
}
/* Activity divs */
.activity h1 {
    font-weight: 700;
    font-size: 24px;
    margin: 30px 120px;
}
.activity .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.activity .container div {
    width: 350px;
    text-align: center;
    background: var(--primary-color);
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 0 50px 30px 0;
}
.activity .container div:nth-child(3n) {
    margin-right: 0;
}
.activity .container div * {
    width: 100%;
}
.activity .container div h1 {
    margin: 0;
    font-size: 20px;
    margin: 8px 0;
}
.activity .container div p {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 15px;
}
/* Media queries */
/* Media query for mobile */
@media (min-width: 320px) and (max-width: 480px) {
    nav h1 {
        margin-left: 20px;
        font-size: 24px;
    }
    nav .buttons {
        margin-right: 20px;
    }
    .splash {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 0;
    }
    .splash h1 {
        text-align: center;
        font-size: 28px;
        width: 100%;
        line-height: 1.2;
    }
    .splash input {
        width: 260px;
    }
    .activity h1 {
        font-size: 16px;
        text-align: center;
        margin: 30px 0;
    }
    .activity .container div {
        margin: 0 0 20px 0 !important;
        width: 300px;
    }
    .activity .container div h1 {
        font-size: 16px;
    }
    .activity .container div p {
        font-size: 12px;
    }
}
/* Media query for iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    nav h1 {
        margin-left: 40px;
        font-size: 30px;
    }
    nav .buttons {
        margin-right: 40px;
    }
    .splash {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 0;
    }
    .splash h1 {
        text-align: center;
        font-size: 36px;
        line-height: 1.1;
    }
    .splash input {
        width: 360px;
    }
    .activity h1 {
        font-size: 24px;
        text-align: center;
        margin: 30px 0;
    }
    .activity .container div {
        margin-right: 30px;
        width: 360px;
    }
    .activity .container div:nth-child(3n) {
        margin-right: 30px;
    }
    .activity .container div h1 {
        font-size: 20px;
    }
    .activity .container div p {
        font-size: 15px;
    }
}
/* Media query for small screens and laptops */
@media (min-width: 769px) and (max-width: 1135px) {
    .activity .container div:nth-child(2n) {
        margin-right: 0;
    }
}