/** CSS variables */
:root {
    --main-font: "Montserrat";
    --secondary-font: "Inter";
    --primary-color: #FFFFFF;
    --header-color: #000000;
    --secondary-color: #474554;
}
/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button, input, img {
    border: none;
    outline: none;
    background: none;
}
button:hover {
    cursor: pointer;
}
/** Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
}
nav h1 {
    font-family: var(--main-font);
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 70px;
    font-weight: 700;
}
nav .buttons {
    margin-right: 70px;
}
/** General styling for all buttons */
nav .buttons button {
    font-family: var(--main-font);
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 18px;
    margin-left: 70px;
}
nav .buttons button.selected {
    font-weight: 600;
    pointer-events: none;
}
/** Splash div */
.splash {
    background: url("../images/computer-bg.png") no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
}
.splash .information {
    background-color: var(--primary-color);
    height: 450px;
    width: 750px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.splash .information * {
    margin-left: 90px;
    width: fit-content;
}
.splash .information h1 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 52px;
}
.splash .information p {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 18px;
    margin-bottom: 50px;
}
.splash .information button {
    font-family: var(--secondary-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    transition: all 0.6s ease;
}
.splash .information button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
/** Projects div */
.projects {
    width: 100%;
    background-color: var(--primary-color);
}
.projects .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px 70px 0 70px;
}
.projects .heading h1 {
    font-family: var(--main-font);
    font-size: 20px;
    color: var(--secondary-color);
}
.projects .heading input {
    border: 1px solid #A8A8A8;
    border-radius: 9px;
    padding: 10px;
    width: 300px;
    font-family: var(--secondary-font);
}
.projects .heading input::placeholder {
    letter-spacing: 1.5px;
}
.projects .project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px auto;
    width: 80%;
}
.projects button {
    display: block;
    margin: 0px auto 50px;
    font-family: var(--secondary-font);
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding: 10px;
    transition: all 0.6s ease-in-out;
}
.projects button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.projects .project-container div {
    margin: 0px 50px 30px 0;
}
.projects .project-container div h1 {
    font-family: var(--main-font);
    color: var(--header-color);
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}
@media (min-width: 320px) and (max-width: 550px) {
    nav h1 {
        font-size: 14px;
        margin-left: 20px;
    }
    nav .buttons {
        margin-right: 20px;
    }
    nav .buttons button {
        margin-left: 10px;
        font-size: 14px;
    }
    .splash .information {
        margin: 0 auto;
        width: 90%;
        height: 100%;
    }
    .splash .information * {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .splash .information h1 {
        font-size: 35px;
        width: 100%;
        line-height: 1.2;
    }
    .splash .information p {
        text-align: center;
        font-size: 15px;
        width: 100%;
        margin-top: 10px;
    }
    .splash .information button {
        margin: 0 auto;
    }
    .projects .heading {
        margin: 90px 20px 0 20px;
    }
    .projects .heading h1 {
        font-size: 14px;
    }
    .projects .heading input {
        width: 150px;
        padding: 7px;
    }
    .projects .project-container {
        width: 100%;
        justify-content: center;
    }
    .projects .project-container div {
        margin: 0 auto 20px;
        transform: scale(0.9);
    }
    .projects .project-container div h1 {
        font-size: 18px;
    }
}
@media (min-width: 551px) and (max-width: 768px) {
    nav h1 {
        font-size: 16px;
        margin-left: 40px;
    }
    nav .buttons {
        margin-right: 40px;
    }
    nav .buttons button {
        margin-left: 10px;
        font-size: 16px;
    }
    .splash .information {
        margin: 0 auto;
        width: 90%;
        height: 100%;
    }
    .splash .information * {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .splash .information h1 {
        width: 100%;
    }
    .splash .information p {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
    .splash .information button {
        margin: 0 auto;
    }
    .projects .heading {
        margin: 90px 40px 0 40px;
    }
    .projects .heading h1 {
        font-size: 18px;
    }
    .projects .heading input {
        width: 220px;
        padding: 10px;
    }
    .projects .project-container {
        width: 100%;
        justify-content: center;
    }
    .projects .project-container div {
        margin: 0 auto 20px;
    }
    .projects .project-container div h1 {
        font-size: 18px;
    }
}