/** CSS variables */
:root {
    --main-font: "Montserrat";
    --secondary-font: "Inter";
    --primary-color: #FFFFFF;
    --header-color: #000000;
    --secondary-color: #474554;
}
/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button, input, img {
    border: none;
    outline: none;
    background: none;
}
button:hover {
    cursor: pointer;
}
/** Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
}
nav h1 {
    font-family: var(--main-font);
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 70px;
    font-weight: 700;
}
nav .buttons {
    margin-right: 70px;
}
/** General styling for all buttons */
nav .buttons button {
    font-family: var(--main-font);
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 18px;
    margin-left: 70px;
}
nav .buttons button.selected {
    font-weight: 600;
    pointer-events: none;
}
/** Splash div */
.splash {
    background: url("../images/computer-bg.png") no-repeat fixed;
    background-size: cover;
    height: 450px;
}
.splash .information {
    background-color: var(--primary-color);
    height: 100%;
    width: 750px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.splash .information * {
    margin-left: 90px;
    width: fit-content;
}
.splash .information h1 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 52px;
}
.splash .information p {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 18px;
    margin-bottom: 50px;
}
.splash .information button {
    font-family: var(--secondary-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    transition: all 0.6s ease;
}
.splash .information button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
/** Projects div */
.projects {
    width: 100%;
    background-color: var(--primary-color);
}
.projects .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px 70px 0 70px;
}
.projects .heading h1 {
    font-family: var(--main-font);
    font-size: 20px;
    color: var(--secondary-color);
}
.projects .heading input {
    border: 1px solid #A8A8A8;
    border-radius: 9px;
    padding: 10px;
    width: 300px;
    font-family: var(--secondary-font);
}
.projects .heading input::placeholder {
    letter-spacing: 1px;
}