/* CSS variables */
:root {
    --header-font: "Signika";
    --text-font: "Poppins";
    --primary-color: #222;
    --secondary-color: #eeeeee;
}
/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button, input, img {
    border: none;
    outline: none;
    background: none;
}
button:hover {
    cursor: pointer;
}
/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: transparent;
}
nav h1 {
    margin-left: 100px;
    font-family: var(--header-font);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 36px;
}
nav .buttons {
    margin-right: 100px;
}
nav .buttons button {
    font-family: var(--text-font);
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    margin-left: 35px;
}