/* CSS variables */
:root {
    --header-font: "Poppins";
    --text-font: "Inter";
    --logo-font: "Signika";
    --primary-color: #222;
    --secondary-color: #eeeeee;
}
/* CSS reset */
html, body {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button, input, img {
    border: none;
    outline: none;
    background: none;
}
button:hover, a:hover {
    cursor: pointer;
}
/* Navbar */
nav {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: transparent;
    transition: all 1.2s ease;
}
nav.scroll {
    background-color: var(--secondary-color);
}
nav h1 {
    margin-left: 100px;
    font-family: var(--logo-font);
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 40px;
    transition: all 0.8s ease;
}
nav.scroll h1 {
    color: var(--primary-color);
}
nav .buttons {
    margin-right: 100px;
}
nav .buttons a {
    text-decoration: none;
    font-family: var(--header-font);
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    margin-left: 35px;
    transition: all 1.2s ease;
    text-decoration: none;
}
nav.scroll .buttons a {
    color: var(--primary-color);
}
/* Splash screen */
.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 950px;
    background: url("../images/splash-bg.jpg") 140px;
    background-size: cover;
    background-attachment: fixed;
}
.splash h1 {
    color: var(--secondary-color);
    font-family: var(--header-font);
    font-size: 65px;
    margin-left: 100px;
    line-height: 1.4;
}
.splash a {
    margin-top: 30px;
    color: var(--secondary-color);
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 100px;
    margin-left: 100px;
    width: 180px;
    padding: 15px;
    font-family: var(--text-font);
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.8s ease;
}
.splash a:hover {
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}